@model Clothing_Store.Models.customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterCre</title>
</head>
<body>
    <div>
        <h4>customer</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.c_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.c_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.pass)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.pass)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.phone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.phone)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.c_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
